@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/Neue Montreal -Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/Neue Montreal -Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/Neue Montreal -Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/Neue Montreal -Bold Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/Neue Montreal -Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/Neue Montreal -Light Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/Neue Montreal -Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Allura';
    src: url('./assets/font/Allura-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global Reset and Scrollbar Hiding */
* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Strictly prevent horizontal scroll */
}

#root {
    width: 100%;
    overflow-x: hidden;
}