@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/NeueMontreal-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/NeueMontreal-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/NeueMontreal-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/NeueMontreal-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/NeueMontreal-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/NeueMontreal-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./assets/font/NeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Allura';
    src: url('./assets/font/Allura-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global Reset and Scrollbar Hiding */
* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Strictly prevent horizontal scroll */
}

#root {
    width: 100%;
    overflow-x: hidden;
}